<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>手机商城</title>
    <link rel="stylesheet" href="/PhoneShop/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <link href="/PhoneShop/public/static/JQM/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <!--<span class="sr-only">Toggle navigation</span>-->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">手机商店</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="../index/index.html" data-ajax="false">主页</a></li>
              <li><a href="../aboutus/aboutus.html">关于我们</a></li>
              <li><a href="../aboutus/contactus.html">联系我们</a></li>
              <li><a href="#">忘记密码</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div class="container">
      <form class="form-signin" method="post" action="fback" data-ajax="false">
        <h2 class="form-signin-heading">请在下方填写反馈意见</h2>
        <label for="name" class="sr-only"> 姓名 </label>
        <input type="text" id="name" name="name" class="form-control" placeholder="留下你的大名" required autofocus>
        &nbsp;
        <label for="phone" class="sr-only"> 联系方式 </label>
        <input type="text" id="phone" name="phone" class="form-control" placeholder="留下你的联系方式" required autofocus>
        &nbsp;
        <label for="content" class="sr-only"> 反馈意见 </label>
        <textarea id="content" name="content" class="form-control" placeholder="填写反馈意见"></textarea>
        &nbsp;
        <button class="btn btn-lg btn-primary btn-block" type="submit">发送反馈</button>
      </form>
    </div>
    <!-- <script src="/PhoneShop/public/static/JQM/jquery.mobile-1.4.5.min.js"></script> -->
    <script src="/PhoneShop/public/static/JQM/js/jquery-3.2.1.min.js"></script>
    <script src="/PhoneShop/public/static/JQM/js/bootstrap.min.js"></script>
  </body>
</html>