<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>手机商城</title>
    <link rel="stylesheet" href="/PhoneShop/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <link href="/PhoneShop/public/static/JQM/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <!--<span class="sr-only">Toggle navigation</span>-->
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">手机商店</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="../index/index.html" data-ajax="false">主页</a></li>
              <li><a href="#">关于我们</a></li>
              <li><a href="#">联系我们</a></li>
              <li><a href="#">忘记密码</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <div class="container">
      <form class="form-signin" method="post" action="changepass" data-ajax="false">
        <h2 class="form-signin-heading"> 修改你的密码 </h2>
        <label for="oldpassword" class="sr-only"> 原密码 </label>
        <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="请输入旧密码" required autofocus>
        &nbsp;
        <label for="newpassword" class="sr-only"> 新密码 </label>
        <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="请输入新密码" required>
        &nbsp;
        <label for="newpassword1" class="sr-only"> 再次输入新密码 </label>
        <input type="password" id="newpassword1" name="newpassword1" class="form-control" placeholder="再次输入新密码" required>
        <hr border="0"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>
      </form>
    </div>
    <!-- <script src="/PhoneShop/public/static/JQM/jquery.mobile-1.4.5.min.js"></script> -->
    <script src="/PhoneShop/public/static/JQM/js/jquery-3.2.1.min.js"></script>
    <script src="/PhoneShop/public/static/JQM/js/bootstrap.min.js"></script>
  </body>
</html>